/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: 'Noto Sans', sans-serif;
}

.wrap {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
	width: 100%;
}

.header {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 100%;
}

.social, .navBar {
    display: flex;
    width: 100%; 
}

.social {
	background: #f6f6f6;
	justify-content: flex-end; 
}

.social li {
	display: flex;
	align-items: center;
	margin: 10px 10px;
	background: #f6f6f6;
}

.social li a {
	text-decoration: none;
	background: #f6f6f6;
	line-height: 30px;
	font-size: 20px;
	padding-left: 5px;
}

.navBar {
	justify-content: space-between;
}

.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu li {
	margin-right: 10px;
	width: 100px;
	align-items: center;
}

.menu li a {
	color: #00d5a0;
	display: block;
	text-decoration: none;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
}

.menu li a:hover {
	border-bottom: 5px solid #00c897; 
}

.bannerContainer {
	margin-top: 0;
	display: flex;
	flex-direction: column; 
	justify-content: center;
	position: relative;
}

.bannerContainer .title {
	position: absolute; 
	width: 100%;
	color: white;
	font-size: 35px; 
	background: rgba(0, 0, 0, 0.3); 
	line-height: 65px;
	padding: 20px;
}

.footer {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
	padding: 20px;
}

.footer img {
	max-width: 100%;
	height: auto;
	object-fit: contain;
}

.footer .contactInfo {
	display: flex;
	flex-direction: column;
}

.contactInfo p {
	font-weight: 300;
	font-size: 16px;
	line-height: 25px;
}

.contactInfo span {
	color: #e5558c;
}

.courses {
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
	margin-bottom: 50px;
}

.course-item {
	display: flex;
	flex-direction: column; 
	justify-content: space-around;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  width: 350px;
}

.course-item h2 {
  text-align: center;
  font-size: 25px;
	margin: 10px;
}

.course-info {
	font-size: 18px;
	line-height: 25px;
	font-weight: 300;
	text-align: justify;
	margin: 20px 20px;
}
